/* Spacing */
/* Fonts */
/* Grid Count */
/* Grid Percents */
/* Tab Sizes */
/* Media Queries */
/* Smaller than the defined pixels are the dimensions for that range */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
  --red-01: #e51b24;
  --gray-100: #e7e8ea;
  --gray-200: #6f6f6f;
}

html,
body {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 1.8em;
  color: var(--red-01);
  margin-bottom: 1em;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 2.5em;
  }
}

h2 {
  color: var(--red-01);
  font-size: 1.2em;
}

@media screen and (min-width: 1024px) {
  h2 {
    font-size: 1.5em;
  }
}

p,
li,
table {
  font-size: 1rem;
  font-weight: 300;
}

@media screen and (min-width: 1024px) {
  p,
  li,
  table {
    font-size: 1.3rem;
  }
}

a {
  text-decoration: none;
  color: var(--red-01);
}

ul {
  list-style: circle;
  padding-left: 3em;
}

#back-to-top {
  height: 1px;
}

.nowrap {
  white-space: nowrap;
}

.u-red {
  color: var(--red-01);
}

.row {
  padding: 0;
}

nav.header {
  background-color: var(--red-01);
  position: fixed;
  top: 0;
  padding: 0;
}

nav.header h3 {
  line-height: 1.2;
  font-size: 1em;
}

nav.header a {
  color: white;
  text-decoration: none;
}

nav.header a:hover {
  color: #111;
}

@media screen and (min-width: 1280px) {
  nav.header .nav-left a {
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: 1.2em;
    font-weight: 900;
  }
}

/* section */
section {
  margin-bottom: 2px;
}

section .row .koprun-sidebar {
  background-image: url(../images/bg-stripe-red.png);
}

section .row .koprun-sidebar img {
  padding: 5em 3em;
}

@media screen and (max-width: 1023px) {
  section .row .koprun-sidebar {
    display: none;
  }
}

section .row .koprun-content {
  padding: 4em;
  border-right: solid 2em var(--red-01);
  background: white;
}

@media screen and (max-width: 1023px) {
  section .row .koprun-content {
    padding: 2em 1em;
    border-right: solid 2px var(--red-01);
  }
}

#home {
  text-align: center;
  padding-top: 3.5em;
}

#home .row .home-run {
  background-image: url(../images/bg-lari.jpg);
  text-align: center;
  background-position: center;
}

#home .row .home-run .home-run-content {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0rem 0.5rem;
}

@media screen and (min-width: 1280px) {
  #home .row .home-run .home-run-content {
    padding: 0 2rem;
  }
}

#home .row .home-slogan {
  text-align: center;
  color: white;
  background-color: var(--red-01);
}

#home .row .home-slogan p {
  font-size: 1em;
  font-weight: 500;
  padding: 0.5em 0;
}

@media screen and (min-width: 1280px) {
  #home .row .home-slogan p {
    font-size: 2em;
    padding: 1.5em;
  }
}

.home-text {
  background: url(../images/bg-stripe-white.png);
  padding: 40px !important;
  text-align: center;
}

.home-text p {
  font-size: 1.2em;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1em;
}

@media screen and (min-width: 1280px) {
  .home-text p {
    font-size: 2em;
  }
}

.home-text .button-download img {
  height: 3em;
}

#categories h1 {
  text-align: center;
}

#categories .challenge {
  text-align: right;
}

#categories .challenge span {
  padding: 0.2em 0.4em;
  border-radius: 0.6em;
  font-size: 1.3em;
  font-weight: 900;
}

#categories .challenge .challenge-button {
  font-size: 0.5em;
  text-align: right;
  white-space: nowrap;
}

@media screen and (min-width: 1280px) {
  #categories .challenge .challenge-button {
    font-size: 1em;
  }
}

#categories .challenge h2 {
  font-size: 1.5em;
  text-align: right;
  line-height: 1;
}

@media screen and (min-width: 1280px) {
  #categories .challenge h2 {
    font-size: 3em;
  }
}

#categories .challenge h2 small {
  font-size: 0.4em;
}

@media screen and (min-width: 1280px) {
  #categories .challenge h2 small {
    font-size: 0.4em;
  }
}

#categories .challenge .challenge-1 {
  color: var(--red-01);
  background-color: white;
}

#categories .challenge .challenge-2 {
  color: white;
  background-color: var(--gray-200);
}

#categories .challenge .challenge-3 {
  color: white;
  background-color: var(--red-01);
}

#categories table {
  font-size: 1rem;
}

@media screen and (min-width: 1024px) {
  #categories table {
    font-size: 1.3rem;
  }
}

#categories table td {
  vertical-align: top;
}

#categories table .td-step {
  white-space: nowrap;
  padding-right: 1.2em;
}

#regulation ol {
  margin-left: 1.5em;
}

.racepack {
  position: relative;
  background: url(../images/racepack-bg.png);
  background-position: center center;
  background-size: cover;
  color: white;
}

.racepack p {
  font-size: 0.6em;
  padding: 0.5em;
}

.racepack.racepack-3 {
  background-image: url(../images/racepack-bg-white.png);
}

.racepack.racepack-3 p {
  color: var(--red-01);
}

.racepack .challenge {
  text-align: right;
  margin-top: -2em;
  margin-bottom: -1.5em;
}

.racepack .challenge img {
  width: 50%;
}

.racepack .text {
  padding: 0 3rem;
}

@media screen and (min-width: 1024px) {
  .racepack p {
    font-size: 1em;
  }
}

.racepack .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 30% 55% 15%;
      grid-template-rows: 30% 55% 15%;
}

.racepack .grid-container .grid-item.text {
  padding: 10% 0 0 10%;
}

.racepack .grid-container .grid-item.medal {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
}

.racepack .grid-container .grid-item.tshirt {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  grid-area: 2 / 1 / 3 / 1;
}

.racepack .grid-container .grid-item.challenge {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: 3 / 2 / 3 / 2;
  text-align: right;
  padding-right: 5%;
}

.racepack .grid-container .grid-item.challenge img {
  width: 50%;
  margin: auto;
}

.racepack p {
  position: absolute;
  bottom: 0;
  left: 0;
}

#prize .row .row [class^="col-"],
#prize .row .row [class*=" col-"] {
  padding: 0;
}

#prize .koprun-content {
  padding-right: 0;
}

#prize h1 {
  margin-bottom: 0;
}

#prize p, #prize ul li, #prize table td {
  font-size: 0.8rem;
}

@media screen and (min-width: 768px) {
  #prize p, #prize ul li, #prize table td {
    font-size: 1.2rem;
  }
}

#prize ul {
  list-style: disc;
  padding-left: 1.5em;
}

#prize p, #prize ul {
  margin-bottom: 1em;
}

#prize table td {
  padding: 0.5em 0;
}

@media screen and (min-width: 1280px) {
  #prize table td {
    padding: 0.5em;
  }
}

#prize table td.prize-week {
  font-size: 0.5em;
  text-align: center;
}

#prize table td.prize-week img {
  max-width: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1280px) {
  #prize table td.prize-week img {
    max-width: 100px;
    float: left;
  }
}

#prize table td.prize-desc {
  padding-left: 1em;
}

#prize .prize-circle {
  text-align: center;
  color: white;
  background: var(--red-01);
  width: 3em;
  height: 3em;
  border-radius: 2.5em;
  padding: 0.2em;
  line-height: 1em;
  border: 0.2em solid var(--gray-100);
  -webkit-box-shadow: 0 0 0 1px var(--red-01), 0 0 0 2px var(--red-01);
          box-shadow: 0 0 0 1px var(--red-01), 0 0 0 2px var(--red-01);
}

@media screen and (min-width: 1280px) {
  #prize .prize-circle {
    width: 6em;
    height: 6em;
    border-radius: 3em;
    padding: 0.4em;
    line-height: 1.5em;
    border: 0.6em solid var(--gray-100);
    -webkit-box-shadow: 0 0 0 1px var(--red-01), 0 0 0 2px var(--red-01);
            box-shadow: 0 0 0 1px var(--red-01), 0 0 0 2px var(--red-01);
  }
}

#prize .prize-circle h4 {
  font-size: 1em;
}

@media screen and (min-width: 1280px) {
  #prize .prize-circle h4 {
    font-size: 2em;
  }
}

#prize .prize-bg {
  padding: 0;
}

#prize .prize-bg img {
  width: 120%;
}

footer {
  font-size: 1rem;
}

@media screen and (min-width: 1280px) {
  footer {
    font-size: 1.2em;
  }
}

footer h1 {
  text-align: center;
  background-color: #cf2228;
  color: white;
  background-image: url(../images/contact-wa-qr.png);
  background-size: cover;
  background-position: bottom right;
  background-repeat: no-repeat;
  padding: 0.8em 5em 0.8em 0;
  font-size: 1.5em;
}

@media screen and (min-width: 1024px) {
  footer h1 {
    font-size: 4em;
    padding: 1em 0;
  }
}

footer article {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

footer .footer-slogan {
  text-align: center;
  background-color: var(--red-01);
  color: white;
  padding: 0.5em 0;
  font-size: 1.5em;
  font-weight: 900;
}

.modal-footer {
  font-size: 1.5em;
}

.modal-footer input {
  font-size: 3em;
}

.video-square {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  /* The height of the item will now be 56.25% of the width. */
}

.video-square iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
/*# sourceMappingURL=custom.css.map */