/*
  Functions
*/
/*
    Converts a given hex value to RGB.
*/
/* Spacing */
/* Fonts */
/* Grid Count */
/* Grid Percents */
/* Tab Sizes */
/* Media Queries */
/* Smaller than the defined pixels are the dimensions for that range */
/* Color scheme for Cirrus */
/* v2 Colors */
:root {
  /* v1 Colors */
  --cirrus-fg: #374054;
  --cirrus-bg: #fff;
  --cirrus-primary: #f03d4d;
  --cirrus-primary-rgb: 240, 61, 77;
  --cirrus-primary-light: #ffdadd;
  --cirrus-accent-hover: #d62939;
  --cirrus-accent-border: #c21b2b;
  --cirrus-light: #f6f9fc;
  --cirrus-light-gray: #f8f9fa;
  --cirrus-gray: #d5d7dc;
  --cirrus-dark-gray: #909090;
  --cirrus-dark: #363636;
  --cirrus-link: #5e5cc7;
  --cirrus-link-dark: #4643e2;
  --cirrus-info: #2972fa;
  --cirrus-success: #0dd157;
  --cirrus-success-rgb: 13, 209, 87;
  --cirrus-warning: #fab633;
  --cirrus-danger: #fb4143;
  --cirrus-light-hover: #d0e0ef;
  --cirrus-dark-hover: #505050;
  --cirrus-info-hover: #1062f9;
  --cirrus-link-hover: #f8f7ff;
  --cirrus-success-hover: #0cb94d;
  --cirrus-warning-hover: #f9ad1a;
  --cirrus-danger-hover: #eb0507;
  --cirrus-select-bg: rgba(0, 161, 255, 0.2);
  --cirrus-code-bg: var(--cirrus-primary-light);
  --cirrus-code-fg: #dc4753;
  --cirrus-form-group-bg: var(--cirrus-light-gray);
  --cirrus-form-group-fg: var(--cirrus-dark-gray);
  --toast-primary-bg: rgba(49, 59, 80, 0.9);
  --animation-duration: 0.2s;
  --focus-opacity: 0.55;
  --space-size: 0.5rem;
  --font-size-xs: 0.7rem;
  --font-size-s: 0.85rem;
  --font-size-m: 1rem;
  --font-size-l: 1.35rem;
  --font-size-xl: 1.75rem;
}

/*
    Group selectors that share common styling.
*/
/* HEADER */
.header {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  width: 100%;
  z-index: 100;
  margin-bottom: 2px;
  -webkit-box-shadow: 0 3px 15px rgba(57, 63, 72, 0.1);
          box-shadow: 0 3px 15px rgba(57, 63, 72, 0.1);
  background-color: var(--cirrus-bg);
  max-height: 100vh;
  padding: 0 2rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  --header-link-color: #495057;
  --header-link-color-hover: #606a73;
  /* Remove any padding set for headers in default.scss */
  /* Header dark theme */
  /* Add transition to nav menu when it drops down */
  /* The container that contains all the header menu components. Child of header */
  /* Static header at the top of the screen */
  /* Hover effect for header elements when appropriate */
}

.header h1 {
  margin: 0;
}

.header h2 {
  margin: 0;
}

.header h3 {
  margin: 0;
}

.header h4 {
  margin: 0;
}

.header h5 {
  margin: 0;
}

.header h6 {
  margin: 0;
}

.header a {
  color: var(--header-link-color);
}

.header a:hover {
  color: var(--header-link-color-hover);
}

.header.header-dark {
  background-color: rgba(0, 0, 0, 0.87);
  color: #fff;
  --header-link-color: #fff;
  --header-link-color-hover: #fff;
  /* Theme for dark menu */
}

.header.header-clear {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  /* Add border radius to whole menu with clear header */
}

.header.header-clear .nav-item .dropdown-menu {
  border-radius: 4px;
}

.header.header-animated .header-nav {
  -webkit-transition: background 0.4s ease, height 0.4s ease;
  transition: background 0.4s ease, height 0.4s ease;
  -webkit-transition-property: background, height;
  transition-property: background, height;
  -webkit-transition-duration: 0.4s, 0.4s;
  transition-duration: 0.4s, 0.4s;
  -webkit-transition-timing-function: ease, ease;
  transition-timing-function: ease, ease;
  -webkit-transition-delay: initial, initial;
  transition-delay: initial, initial;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header .header-nav {
  /* Flex display 768px and higher */
  overflow: auto;
}

.header .header-brand {
  -webkit-overflow-scrolling: touch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  max-width: 100vw;
  min-height: 3.25rem;
  overflow-x: auto;
  overflow-y: hidden;
}

.header.header-fixed {
  position: fixed;
  top: 0;
  /* Change this if you want to float the header somewhere else */
}

.header:not(.header-clear) .nav-item:not(.no-hover):hover,
.header:not(.header-clear) .nav-item:not(.no-hover).hovered {
  background-color: rgba(216, 216, 216, 0.15);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header:not(.header-clear) .nav-item.active,
.header:not(.header-clear) .nav-item.active:hover {
  background-color: rgba(216, 216, 216, 0.35);
}

.header .nav-btn {
  cursor: pointer;
  display: block;
  height: 3.5rem;
  position: relative;
  width: 3.5rem;
}

.header .btn, .header button, .header [type="submit"], .header [type="reset"], .header [type="button"] {
  margin: 0;
}

/* Styles for header menu (aka the nav bar) */
.nav-menu {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav-menu .has-sub {
  position: relative;
}

/* Allow the user to scroll through navbar items if it exceeds nav-left, nav-center, or nav-right widths */
.nav-overflow-x {
  -webkit-box-pack: inherit;
  -ms-flex-pack: inherit;
  justify-content: inherit;
  overflow-x: scroll;
}

/* Wrapper to vertically center header items */
.nav-item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 0 0.3rem;
  cursor: pointer;
  /* HEADER DROP DOWN MENU */
  /* Add room for the dropdown chevron pseudoelement */
}

.nav-item a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-item .dropdown-menu {
  background-color: var(--cirrus-bg);
  position: absolute;
  top: 95%;
  /*right: 0; /* Unable to solve problem when we have multiple drop down menus */
  z-index: 1000;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-clip: padding-box;
  border: 1px solid #e9ecef;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(10, 10, 10, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(10, 10, 10, 0.1);
  /* Just add a transition in general */
}

.nav-item .dropdown-menu.dropdown-animated {
  -webkit-transition: all var(--animation-duration);
  transition: all var(--animation-duration);
}

.nav-item .dropdown-menu > li > a {
  display: block;
  padding: 0.5rem 1rem;
  clear: both;
  line-height: 1.42857143;
  white-space: nowrap;
}

.nav-item .dropdown-menu > li {
  margin: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav-item .dropdown-menu > li:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: rgba(216, 216, 216, 0.15);
}

.nav-item .dropdown-menu > li:active {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: rgba(216, 216, 216, 0.25);
}

.nav-item .dropdown-menu > li:last-child {
  margin-bottom: 0;
}

.nav-item .dropdown-menu .dropdown-menu-divider {
  border: none;
  background-color: rgba(216, 216, 216, 0.15);
  height: 1px;
  margin: 0.5rem 0;
}

.nav-item.has-sub .nav-dropdown-link {
  padding-right: 2.5rem;
  position: relative;
  /* Needed for hiding glyphs in mobile header */
  /* Dropdown menu location adjustment located below for sizes above phones */
  /* Dropdown menu indicator */
}

.nav-item.has-sub .nav-dropdown-link::after {
  border: 2px solid var(--cirrus-primary);
  /* Must be first to create the triangle shape */
  border-right: 0;
  /* Create the triangle effect */
  border-top: 0;
  display: block;
  height: 0.5em;
  width: 0.5em;
  content: ' ';
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  pointer-events: none;
  margin-top: -0.435em;
  right: 1.125em;
  top: 50%;
  position: absolute;
}

/* Dark dropdown menu theme */
.nav-item .dropdown-menu.dropdown-dark,
.header.header-dark .dropdown-menu {
  background-color: rgba(0, 0, 0, 0.87);
  border: 1px solid #343a40;
  color: #fff;
}

.dropdown-menu.dropdown-shown,
.nav-item.active {
  opacity: 1;
}

@media screen and (min-width: 769px) {
  .header {
    -webkit-box-align: stretch;
    /* Box Align and align items to stretch to make nav-items fill up parent height */
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    /* These styles can also be used on menus in the body */
    /* Align items to the left */
    /* Align items to the right */
    /* Centering items, best used when nav-brand is not used to prevent offset */
    /* Hide hamburger button */
    /* .nav-item {
        position: relative; /* Include for helping dropdown menu positioning  Deprecated 0.5.6
      } */
  }
  .header .header-nav {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    /* Make items fill up all available space regardless of width https://drafts.csswg.org/css-align/ */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    text-align: center;
    width: 100%;
    top: 0;
    overflow: visible;
    /* Only visible for showing dropdown menus, hidden for mobile */
  }
  .header .nav-left {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    -ms-grid-row-align: stretch;
    align-items: stretch;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    white-space: nowrap;
    /* Align dropdown menu to the left side of the parent nav-item for header-left */
  }
  .header .nav-left .has-sub .dropdown-menu {
    left: 0;
    right: auto;
  }
  .header .nav-right {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    -ms-grid-row-align: stretch;
    align-items: stretch;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    white-space: nowrap;
    /* Align dropdown menu to the right side of the parent nav-item for header-right */
  }
  .header .nav-right .has-sub .dropdown-menu {
    left: auto;
    right: 0;
  }
  .header .nav-center {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .header .nav-btn {
    display: none;
  }
  .header .nav-item {
    /* Expand link area for desktop views so it is easier to click */
  }
  .header .nav-item a {
    padding: 0.5rem 1rem;
  }
  .header .nav-item .dropdown-menu {
    opacity: 0;
    pointer-events: none;
    /* Make cursor not respond to menu links when not displayed */
  }
  .header .nav-item .dropdown-menu.dropdown-animated {
    -webkit-transform: translateY(-5px);
    /* Used for transitional drop down effect */
    transform: translateY(-5px);
  }
  .header .nav-item .dropdown-menu.dropdown-shown,
  .header .nav-item.toggle-hover:hover .dropdown-menu,
  .header .nav-item .dropdown-menu.dropdown-animated.dropdown-shown {
    opacity: 1;
    -webkit-transform: none;
    /* Used for transitional drop down effect */
    transform: none;
    pointer-events: auto;
  }
}

@media screen and (max-width: 768px) {
  /* Add scrolling support in header */
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* Hide dropdown menu on mobile */
  }
  .header .header-brand .nav-item:first-child {
    padding: 0 1rem;
    /* Add padding to the first child, usually the logo */
  }
  .header .header-nav {
    height: 0;
    /* Show the dropdown */
    /* Make the menu items larger in the dropdown menu */
    /* Get rid of extra spaces */
  }
  .header .header-nav.active {
    height: 100vh;
  }
  .header .header-nav .nav-item {
    padding: 1rem;
  }
  .header .header-nav .nav-item > a {
    padding: 0;
    width: 100%;
    /* Stretch the link to span the entire list item */
  }
  /* Remove flex for mobile devices */
  .nav-item.has-sub {
    display: block;
  }
  .nav-item.has-sub .dropdown-menu {
    /* Hide the menu by default in mobile view (overflow on header-right can expose it) */
    display: none;
  }
  .nav-item.has-sub .dropdown-menu.dropdown-shown {
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    display: block;
    position: relative;
    top: 1rem;
    float: none;
    border: none;
    background-color: transparent;
    margin-bottom: 1rem;
  }
  .nav-item.has-sub .dropdown-menu.dropdown-dark {
    background-color: rgba(0, 0, 0, 0.17);
    border: 0;
  }
  /* Hamburger button */
  .nav-btn {
    cursor: pointer;
    display: block;
    position: relative;
    margin-left: auto;
    /* Hamburger button on active */
  }
  .nav-btn span {
    background-color: white;
    display: block;
    height: 2px;
    left: 50%;
    margin-left: -7px;
    position: absolute;
    top: 50%;
    -webkit-transition: none 86ms ease-out;
    transition: none 86ms ease-out;
    -webkit-transition-property: background, left, opacity, -webkit-transform;
    transition-property: background, left, opacity, -webkit-transform;
    transition-property: background, left, opacity, transform;
    transition-property: background, left, opacity, transform, -webkit-transform;
    width: 15px;
    /* Line spacing in hamburger button */
  }
  .nav-btn span:nth-child(1) {
    margin-top: -6px;
  }
  .nav-btn span:nth-child(2) {
    margin-top: -1px;
  }
  .nav-btn span:nth-child(3) {
    margin-top: 4px;
  }
  .nav-btn.active span:nth-child(1) {
    margin-left: -5px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: left top;
            transform-origin: left top;
  }
  .nav-btn.active span:nth-child(2) {
    opacity: 0;
  }
  .nav-btn.active span:nth-child(3) {
    margin-left: -5px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
  }
  /* Hide drop down menu items */
  .nav-left,
  .nav-center,
  .nav-right {
    overflow: hidden;
  }
  /* No need for JS to show dropdown menu on mobile devices now */
  .header .nav-item.has-sub.toggle-hover:not(.no-hover):hover > .dropdown-menu {
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    display: block;
    position: relative;
    top: 1rem;
    float: none;
    border: none;
    background-color: transparent;
    margin-bottom: 1rem;
  }
}
/*# sourceMappingURL=header.css.map */