/* Spacing */
/* Fonts */
/* Grid Count */
/* Grid Percents */
/* Tab Sizes */
/* Media Queries */
/* Smaller than the defined pixels are the dimensions for that range */
/*
  Functions
*/
/*
    Converts a given hex value to RGB.
*/
/* Spacing */
/* Fonts */
/* Grid Count */
/* Grid Percents */
/* Tab Sizes */
/* Media Queries */
/* Smaller than the defined pixels are the dimensions for that range */
/* Color scheme for Cirrus */
/* v2 Colors */
:root {
  /* v1 Colors */
  --cirrus-fg: #374054;
  --cirrus-bg: #fff;
  --cirrus-primary: #f03d4d;
  --cirrus-primary-rgb: 240, 61, 77;
  --cirrus-primary-light: #ffdadd;
  --cirrus-accent-hover: #d62939;
  --cirrus-accent-border: #c21b2b;
  --cirrus-light: #f6f9fc;
  --cirrus-light-gray: #f8f9fa;
  --cirrus-gray: #d5d7dc;
  --cirrus-dark-gray: #909090;
  --cirrus-dark: #363636;
  --cirrus-link: #5e5cc7;
  --cirrus-link-dark: #4643e2;
  --cirrus-info: #2972fa;
  --cirrus-success: #0dd157;
  --cirrus-success-rgb: 13, 209, 87;
  --cirrus-warning: #fab633;
  --cirrus-danger: #fb4143;
  --cirrus-light-hover: #d0e0ef;
  --cirrus-dark-hover: #505050;
  --cirrus-info-hover: #1062f9;
  --cirrus-link-hover: #f8f7ff;
  --cirrus-success-hover: #0cb94d;
  --cirrus-warning-hover: #f9ad1a;
  --cirrus-danger-hover: #eb0507;
  --cirrus-select-bg: rgba(0, 161, 255, 0.2);
  --cirrus-code-bg: var(--cirrus-primary-light);
  --cirrus-code-fg: #dc4753;
  --cirrus-form-group-bg: var(--cirrus-light-gray);
  --cirrus-form-group-fg: var(--cirrus-dark-gray);
  --toast-primary-bg: rgba(49, 59, 80, 0.9);
  --animation-duration: 0.2s;
  --focus-opacity: 0.55;
  --space-size: 0.5rem;
  --font-size-xs: 0.7rem;
  --font-size-s: 0.85rem;
  --font-size-m: 1rem;
  --font-size-l: 1.35rem;
  --font-size-xl: 1.75rem;
}

/* The base of the modal dialog, which is an overlay of the webpage */
.modal {
  position: fixed;
  /* Scrolls with the user */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  /* Initially hidden */
  padding: 1rem;
  display: none;
  /* Doesn't block the elements underneath */
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  /* Vertical centering */
  pointer-events: none;
  /* Prevent any pointer events made to modal while hidden */
  /* When the modal dialog is visible */
  /* Different size modals */
  /* The modal dialog body with the text itself */
  /* MODAL ANIMATIONS */
  /* Visible state */
}

.modal:target, .modal.shown, .modal.is-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  z-index: 999;
  pointer-events: auto;
  /* Re-enable pointer events */
  /* The div in the modal dialpog used to create the translucent background */
}

.modal:target .modal-overlay, .modal.shown .modal-overlay, .modal.is-active .modal-overlay {
  position: absolute;
  /* Absolute inside of the modal container */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background-color: rgba(54, 54, 54, 0.5);
}

.modal:target .modal-container,
.modal:target .modal-container, .modal.shown .modal-container,
.modal.shown .modal-container, .modal.is-active .modal-container,
.modal.is-active .modal-container {
  -webkit-animation: slide-down var(--animation-duration) ease 1;
  animation: slide-down var(--animation-duration) ease 1;
  z-index: 1;
}

.modal.modal-small .modal-content {
  max-width: 20rem;
  /* 320px */
}

.modal.modal-large .modal-content {
  max-width: 60rem;
  /* 960px */
}

.modal .modal-content {
  background-color: var(--cirrus-bg);
  padding: 0;
  display: block;
  border-radius: 3px;
  -webkit-box-shadow: 0 0.4rem 1rem rgba(54, 54, 54, 0.3);
          box-shadow: 0 0.4rem 1rem rgba(54, 54, 54, 0.3);
  z-index: 1;
  color: var(--cirrus-fg);
  max-width: 40rem;
  /* 640px */
  /* Restrict width  */
}

.modal .modal-content.small {
  max-width: 32rem;
}

.modal .modal-content h1,
.modal .modal-content h2,
.modal .modal-content h3,
.modal .modal-content h4,
.modal .modal-content h5,
.modal .modal-content h6 {
  color: var(--cirrus-fg);
}

.modal .modal-content .modal-header {
  padding: 1rem 2.5rem;
}

.modal .modal-content .modal-header .modal-title {
  font-weight: bolder;
  font-size: 1.4rem;
}

.modal .modal-content .modal-body {
  padding: 1rem 2.5rem;
  overflow-y: auto;
  max-height: 50vh;
  /* Max height is 50% of viewport height which prevents dialog from extetnding past screen */
  position: relative;
}

.modal .modal-content .modal-footer {
  padding: 1rem 2.5rem;
}

@media screen and (max-width: 767px) {
  .modal .modal-content {
    max-width: 90%;
  }
}

.modal.modal-animated--dropdown {
  -webkit-animation: slide-down var(--animation-duration) ease 1;
  animation: slide-down var(--animation-duration) ease 1;
}

.modal.modal-animated--zoom-in, .modal.modal-animated--zoom-out {
  display: -webkit-box;
  /* Force dialog to appear in the center */
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 300ms all ease;
  transition: 300ms all ease;
}

.modal:target.modal-animated--zoom-in, .modal:target.modal-animated--zoom-out {
  opacity: 1;
  -webkit-transition: 300ms all ease;
  transition: 300ms all ease;
}

.modal.modal-animated--zoom-in .modal-content {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: 300ms all ease;
  transition: 300ms all ease;
}

.modal:target.modal-animated--zoom-in .modal-content,
.modal:target.modal-animated--zoom-out .modal-content {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 300ms all ease;
  transition: 300ms all ease;
}

.modal.modal-animated--zoom-out .modal-content {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 300ms all ease;
  transition: 300ms all ease;
}

/* Keyframes for slide down animation */
@-webkit-keyframes slide-down {
  0% {
    -webkit-transform: translateY(-3rem);
    transform: translateY(-3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-down {
  0% {
    -webkit-transform: translateY(-3rem);
    transform: translateY(-3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@media only screen and (max-width: 768px) {
  .modal-content {
    max-width: 90%;
  }
}
/*# sourceMappingURL=modal.css.map */