@import "helpers/size";

:root {
    --red-01: #e51b24;
    --gray-100: #e7e8ea;
    --gray-200: #6f6f6f;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

html,
body {
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

h1,
h2,
h3 {
    font-weight: 700;
}

h1 {
    font-size: 1.8em;
    color: var(--red-01);
    margin-bottom: 1em;

    @include screen-above(md) {
        font-size: 2.5em;
    }
}

h2 {
    color: var(--red-01);
    font-size: 1.2em;

    @include screen-above(md) {
        font-size: 1.5em;
    }
}

p,
li,
table {
    font-size: 1rem;
    font-weight: 300;

    @include screen-above(md) {
        font-size: 1.3rem;
    }
}

a {
    text-decoration: none;
    color: var(--red-01);
}

ul {
    list-style: circle;
    padding-left: 3em;
}

#back-to-top {
    height: 1px;
}

.nowrap {
    white-space: nowrap;
}

.u-red {
    color: var(--red-01);
}

.row {
    padding: 0;
}

nav.header {
    background-color: var(--red-01);
    position: fixed;
    top: 0;
    padding: 0;

    h3 {
        line-height: 1.2;
        font-size: 1em;
    }

    a {
        color: white;
        text-decoration: none;

        &:hover {
            color: #111;
        }
    }

    @include screen-above(lg) {
        .nav-left {
            a {
                padding-left: 1.5em;
                padding-right: 1.5em;
                font-size: 1.2em;
                font-weight: 900;
            }
        }
    }
}

/* section */
section {
    margin-bottom: 2px;

    .row {
        .koprun-sidebar {
            background-image: url(../images/bg-stripe-red.png);

            img {
                padding: 5em 3em;
            }

            @include screen-below(md) {
                display: none;
            }
        }

        .koprun-content {
            padding: 4em;
            border-right: solid 2em var(--red-01);
            background: white;

            @include screen-below(md) {
                padding: 2em 1em;
                border-right: solid 2px var(--red-01);
            }
        }
    }
}

#home {
    text-align: center;
    padding-top: 3.5em;

    .row {
        .home-run {
            background-image: url(../images/bg-lari.jpg);
            text-align: center;
            background-position: center;

            .home-run-content {
                width: 100%;
                max-width: 1200px;
                margin-left: auto;
                margin-right: auto;
                padding: 0rem 0.5rem;

                @include screen-above(lg) {
                    padding: 0 2rem;
                }
            }
        }

        .home-slogan {
            text-align: center;
            color: white;
            background-color: var(--red-01);

            p {
                font-size: 1em;
                font-weight: 500;
                padding: 0.5em 0;

                @include screen-above(lg) {
                    font-size: 2em;
                    padding: 1.5em;
                }
            }
        }


    }
}

.home-text {
    background: url(../images/bg-stripe-white.png);
    padding: 40px !important;
    text-align: center;

    p {
        font-size: 1.2em;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 1em;

        @include screen-above(lg) {
            font-size: 2em;
        }
    }

    .button-download img {
        height: 3em;
    }
}

#categories {
    h1 {
        text-align: center;
    }

    .challenge {
        text-align: right;

        span {
            padding: 0.2em 0.4em;
            border-radius: 0.6em;
            font-size: 1.3em;
            font-weight: 900;
        }

        .challenge-button {
            font-size: 0.5em;
            text-align: right;
            white-space: nowrap;

            @include screen-above(lg) {
                font-size: 1em;
            }
        }

        h2 {
            font-size: 1.5em;
            text-align: right;
            line-height: 1;

            @include screen-above(lg) {
                font-size: 3em;
            }

            small {
                font-size: 0.4em;

                @include screen-above(lg) {
                    font-size: 0.4em;
                }
            }
        }

        .challenge-1 {
            color: var(--red-01);
            background-color: white;
        }

        .challenge-2 {
            color: white;
            background-color: var(--gray-200);
        }

        .challenge-3 {
            color: white;
            background-color: var(--red-01);
        }
    }

    table {
        font-size: 1rem;

        @include screen-above(md) {
            font-size: 1.3rem;
        }

        td {
            vertical-align: top;
        }

        .td-step {
            white-space: nowrap;
            padding-right: 1.2em;
        }
    }
}

#regulation {
    ol {
        margin-left: 1.5em;
    }
}

.racepack {
    position: relative;
    background: url(../images/racepack-bg.png);
    background-position: center center;
    background-size: cover;
    color: white;

    p {
        font-size: 0.6em;
        padding: 0.5em;
    }

    &.racepack-3 {
        background-image: url(../images/racepack-bg-white.png);

        p {
            color: var(--red-01);
        }
    }

    .challenge {
        text-align: right;
        margin-top: -2em;
        margin-bottom: -1.5em;

        img {
            width: 50%;
            //padding: 1em;
        }
    }

    .text {
        padding: 0 3rem;
    }

    @include screen-above(md) {
        p {
            font-size: 1em;
        }
    }

    .grid-container {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 30% 55% 15%;

        .grid-item {
            &.text {
                padding: 10% 0 0 10%;
            }

            &.medal {
                grid-row: 1 / span 2;
            }

            &.tshirt {
                grid-area: 2 / 1 / 3 / 1;
            }

            &.challenge {
                grid-area: 3 / 2 / 3 / 2;
                text-align: right;
                padding-right: 5%;

                img {
                    width: 50%;
                    margin: auto;
                }
            }
        }
    }

    p {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    // } //
}

#prize {

    .row .row [class^="col-"],
    .row .row [class*=" col-"] {
        padding: 0;
    }

    .koprun-content {
        //    // background-image: url(../images/prize-bg.png);
        //     background-position: center right;
        //     background-repeat: no-repeat;
        //     background-size: contain;

        padding-right: 0;
    }

    h1 {
        margin-bottom: 0;
    }

    p, ul li, table td {
        font-size: 0.8rem;

        @include screen-above(sm) {
            font-size: 1.2rem;
        }
    }

    ul {
        list-style: disc;
        padding-left: 1.5em;

    }

    p, ul {
        margin-bottom: 1em;
    }
    table td {
        padding: 0.5em 0;

        @include screen-above(lg) {
            padding: 0.5em;
        }

        &.prize-week {
            font-size: 0.5em;
            text-align: center;

            img {
                max-width: 40px;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }

            @include screen-above(lg) {
                img {
                    max-width: 100px;
                    float: left;

                }

   
            }



        }

        &.prize-desc {
            padding-left: 1em;
        }
    }

    .prize-circle {
        text-align: center;
        color: white;
        background: var(--red-01);

        width: 3em;
        height: 3em;
        border-radius: 2.5em;
        padding: 0.2em;
        line-height: 1em;
        border: 0.2em solid var(--gray-100);
        box-shadow: 0 0 0 1px var(--red-01), 0 0 0 2px var(--red-01);

        @include screen-above(lg) {
            width: 6em;
            height: 6em;
            border-radius: 3em;
            padding: 0.4em;
            line-height: 1.5em;
            border: 0.6em solid var(--gray-100);
            box-shadow: 0 0 0 1px var(--red-01), 0 0 0 2px var(--red-01);
        }

        h4 {
            font-size: 1em;

            @include screen-above(lg) {
                font-size: 2em;
            }
        }
    }

    .prize-bg {
        padding: 0;

        //    background-image: url(../images/prize-bg.png);
        //         background-position: center right;
        //         background-repeat: no-repeat;
        //         background-size: contain;

        img {
            width: 120%;
        }
    }
}

footer {
    font-size: 1rem;

    @include screen-above(lg) {
        font-size: 1.2em;
    }

    h1 {
        text-align: center;
        background-color: #cf2228;
        color: white;
        background-image: url(../images/contact-wa-qr.png);
        background-size: cover;
        background-position: bottom right;
        background-repeat: no-repeat;

        padding: 0.8em 5em 0.8em 0;
        font-size: 1.5em;

        @include screen-above(md) {
            font-size: 4em;
            padding: 1em 0;
        }
    }

    article {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .footer-slogan {
        text-align: center;
        background-color: var(--red-01);
        color: white;
        padding: 0.5em 0;
        font-size: 1.5em;
        font-weight: 900;
    }
}

.modal-footer {
    font-size: 1.5em;
    input {
        font-size: 3em;
    }
}

.video-square {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%; /* The height of the item will now be 56.25% of the width. */

    iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
  }
  